/* * {
    background-color: powderblue;
} */

body {
    background-color: #f4f1de;
}

button {
    font-size: 30px;
    background-color: #E07A5F;
}

#signup {
    background-color: #3D405B;
    color: #F4F1DE;
}

h1,
h2 {
    color: darkslateblue;
}

span {
    color: #81B29A;
}

.tag {
    background-color: #9a031e;
    color: #f4f1de;
    font-size: 16px;
}