/* * {
    background-color: powderblue;
} */

body {
    background-color: #f4f1de;
}

button {
    font-size: 30px;
    background-color: #E07A5F;
}

#signup {
    background-color: #3D405B;
    color: #F4F1DE;
}

h1,
h2 {
    color: darkslateblue;
}

span {
    color: #81B29A;
}

.tag {
    background-color: #9a031e;
    color: #f4f1de;
    font-size: 16px;
}

.post a {
    color: #81B29A;
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: #9a031e;
}

.post button:hover {
    background-color: #9a031e;
    color: #F4F1DE;
}

.post a:hover {
    text-decoration: underline;
}

.post:nth-of-type(2n) {
    background-color: #dbd9c8;
}

.post h2::first-letter {
    font-size: 35px;
}

::selection {
    background-color: #ffbe0b;
}

nav button {
    background-color: #E07A5F !important;
}

.inherittest {
    color: darkslateblue;
}

.inherittest button {
    color: inherit;
}